/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
nav {
    background-color: #add8e7;
    height: 70px;
    display: flex;
    justify-content: center;
    
}

header div {
    background-color: #daa51e;
    margin: 15px 0;
    border: 2px dashed black ;
}

.logo {
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 5px;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    padding-right: 5px;
    background-color: #daa51e;
    margin: 15px 0;
    border: 2px dashed black ;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

ul {
    display: flex;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

/* regole hero */

.hero {
    display: flex;
    justify-content: center;
    background-color: #00018b;
    min-height: 300px;
}

.intro {
    background-color: #ef82ed;
    width: 50%;
    border: 2px dashed black ;
    margin: 30px 0;
}

/* regole generali text, voice, roles channel */

.channel {
    display: flex;
    justify-content: center;
    background-color: white;
    min-height: 400px;

}

.img {
    width: 40%;
    background-color: #1e90ff;
    border: 2px dashed black ;
    margin: 30px 0;
}

.des {
    width: 30%;
    background-color: #ffc0ca;
    border: 2px dashed black ;
    margin: 30px 0;
}

.second {
    background-color: #d3d3d3;
}

/* sezione call */

.call  {
    display: flex;
    justify-content: center;
    min-height: 900px;
    background-color: #d3d3d3;;
}

.call-ex {
    width: 70%;
    background-color: #218b21;
    border: 2px dashed black ;
    margin: 30px 0;
}


/* sezione footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272a;
    

}

.top-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    margin: 30px 0;

}

.info-icon {
    width: 30%;
    background-color: #f08180;
    border: 2px dashed black ;
    margin: 5px 0 15px 0;
}

.info-spec {
    background-color: #20b3aa;
    width: 10%;
    border: 2px dashed white;
    margin: 5px 0 15px 0;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
    height: 70px;
    width: 70%;
    margin-top: 20px;
}

.logo-footer {
    font-size: 20px;
    background-color: #fbb6c4;
    padding: 5px;
}

.bt-footer {
    font-size: 20px;
    background-color: #fbb6c4;
    padding: 5px;
    border: none;
}